.countryPicker{
    text-align: center;
    width:40%;
}

.formControl{
    margin-bottom:30px !important;
    flex-direction: row !important;
    align-items: center;
}

Select{
    padding:10px 24px 10px 15px !important;
}