.cards
{
    margin: 50px 5%;
    text-align:center;
}

.card {
    display:block;
    margin: 0 auto !important;
    padding:30px !important;
}

.img-area{
    min-width:120px;
    min-height:80%
}

.grid-img{
width:80%;
height:100%;
}


.infected {
    background-image:linear-gradient(90deg, white, rgba(230, 230, 255,0.7)) !important;
    border: 4px solid rgba(200, 200, 255,0.5);
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
    background-image:linear-gradient(90deg, white, rgba(230, 255, 230,0.7)) !important;
    border: 4px solid rgba(200, 255, 200,0.5);
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
    background-image:linear-gradient(90deg, white, rgba(255, 230, 230,0.7)) !important;
    border: 4px solid rgba(255, 200, 200,0.5);
    border-bottom: 10px solid rgba(255, 0, 0,0.5);

}

.box-heading{
    font-size:19px !important;
    font-weight: 550 !important;
}

@media (max-width:863px)
{
    .card{
        margin:2% 0 !important;
    }
    .grid-img{
        width:70%;
        height:90%;
        }
}