.cards
{
    margin: 50px 5%;
    text-align:center;
}

.card {
    display:block;
    margin: 0 auto !important;
    padding:30px !important;
}

.img-area{
    min-width:120px;
    min-height:80%
}

.grid-img{
width:80%;
height:100%;
}


.infected {
    background-color: rgba(0, 0, 255, 0.2);
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0,0.5);
}

.box-heading{
    font-size:19px !important;
    font-weight: 500 !important;
}

@media (max-width:863px)
{
    .card{
        margin:2% 0 !important;
    }
}