.footer {
    background:linear-gradient(	0deg,#ffb366, #ffe6cc);
    width:100%;
    text-align:center;
}

h3{
    font-weight:500;
    font-size: 21px;
    font-family: 'Averia Sans Libre';
    padding:0.2%;
}

@media (max-width:770px)
{
    .footer{
        width:110%;
    }
    h3{
        font-size:3.8vw;
    }
}