.india{
    margin: 0 0 50px 0;
    background:url('../../images/india2.png');
    background-repeat:no-repeat;
    background-size: 50% 50%;
    background-position: center;
}

.ind-heading{
    text-align: center;
    text-decoration: underline;
}

.stats{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.g-card{
    width:90%;
    margin:2% !important;
}

.symp{
    width:100%;
}

.row{
    display: block;
    margin:0 auto !important;
}