.india{
    margin:20px 0 50px 0;
}

.ind-heading{
    text-align: center;
    color:#004d00;
    font-weight:600;
    font-family: 'Averia Sans Libre';
    display: flex;
    align-items: center;
    justify-content: center;
}

.ind-img{
    width:120px;
    padding-right:1%;
}

.ind-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   text-align:center;
}

.g-card{
    width:90%;
    margin:2% !important;
}

.symp{
    width:100%;
}

.row{
    display: block;
    margin:0 auto !important;
}

.doughnut{
    width:50vw;
}

@media (max-width:770px)
{
    .ind-heading{
        width:80vw;
        text-align: center;
        margin-bottom: 40px;
    }
    .doughnut{
        width:100%;
    }
    .g-card{
        width:80%;
        margin-left:5% !important;
        margin-right: 5% !important;
    }
    
}