body {
  background:url('https://toppng.com/coronavirus-covid-19-PNG-free-PNG-Images_471422');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  height:150px;
}

.app-heading{
  display:flex;
  align-items: center;
  text-align: center;
  margin:40px 0 ;
}


@media (max-width:770px)
{
  .container{
    margin-left: 10%;
    margin-right: 10%;
  }
  .logo{
    height:22vw;
  }

 h1{
   width:fit-content;
 }


}