body {
  background-color: #e1e3ea;
}

.container {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  height:150px;
  margin:20px;
}

@media (max-width:770px)
{
  .container{
    margin: 0 10%;
  }

  .logo{
    width:100%;
  }
}